/24.09.11.EpitopeMapping.L1L2B-N.config
/24.09.11.EpitopeMapping.L1L2B-P.config
/24.09.11.EpitopeMapping.L1L2A-N.config
/24.09.11.EpitopeMapping.P2A.config
/24.09.11.EpitopeMapping.P2B.config
/Output/
/Processed/