[Parameters]
max_mismatches: 10
min_quality: 10
fastq_file_dir: '/Users/laura.spector/Documents/temp_data_downloads/epitope_mapping/fastq_files'

[Tile:T1]
wt_seq: 'CAGTTTTAGCACAGGAACTGGATTATAAAGATGACGACGATAAGGATTACAAAGACGATGATGACAAGGATTATAAGGATGATGACGACAAAGGATCCAGCGGAGGCGGAGGGTCGACAAACTTGTGCCCTTTTGGTGAAGTTTTTCAAGCCACCAGATTTGCATCTGTTTATGCTTGGAACAGGAAGAGAATCAGCAACTGTGTTGCTGATTATTCTGTCCTATATAATTCCGCATCATTTTCCACTTTTAAGTGTTATGGAGTGTCTCCTACTAAATTAAATGATCTCTGCTTTACTAATGTCTATGCAGATTCATTTGTAATTAGAGGTGATGAAGTCAGACAAATCGCTCCAGGGCAAACTGGAAAGATTGCTGATTATAATTATAAATTACCAGATGATTTTACAGGCTGCGTTATAGCTTGGAATTCTAACAATCTTGATTCTAAGGTTGGTGG'
first_aa: 333
cds_start: 116
cds_end: 428
positions: 333, 334, 335, 339, 340, 344, 345, 346, 349, 351, 352, 354, 356, 357, 358, 359, 360, 362, 363, 364, 366, 367, 370, 372, 373, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 388, 389, 390, 394, 396, 405, 408, 411, 412, 413, 414, 415, 417, 420, 421, 424, 426, 427, 428, 430

[Tile:T2]
wt_seq: 'CAGATGATTTTACAGGCTGCGTTATAGCTTGGAATTCTAACAATCTTGATTCTAAGGTTGGTGGTAATTATAATTACCTGTATAGATTGTTTAGGAAGTCTAATCTCAAACCTTTTGAGAGAGATATTTCAACTGAAATCTATCAGGCCGGTAGCACACCTTGTAATGGTGTTGAAGGTTTTAATTGTTACTTTCCTTTACAATCATATGGTTTCCAACCCACTAATGGTGTTGGTTACCAACCATACAGAGTAGTAGTACTTTCTTTTGAACTTCTACATGCACCAGCAACTGTTTGTGGACCTAAAAAGTCTACTAATTTGGTTAAAAACAAAGCATCTTACCCATATGACGTTCCAGACTAC'
first_aa: 437
cds_start: 32
cds_end: 335
positions: 437, 439, 440, 441, 444, 445, 446, 447, 448, 449, 450, 452, 455, 456, 457, 458, 459, 460, 462, 463, 464, 465, 466, 468, 469, 470, 471, 473, 474, 475, 477, 478, 479, 481, 482, 483, 484, 485, 486, 487, 489, 490, 492, 493, 494, 498, 499, 500, 501, 503, 504, 505, 506, 508, 516, 517, 518, 519, 520, 521, 522, 523, 527

[Samples]
1_L1L2A-N:    'T1', 'L1L2A-N1-tile1_R1_001.fastq.gz', 'L1L2A-N1-tile1_R2_001.fastq.gz'
1_L1L2A-N-Control: 'T1', 'L1P2AT1_S5_L001_R1_001.fastq.gz', 'L1P2AT1_S5_L001_R2_001.fastq.gz'
1_Ref:     'T1', 'L2NT1_S1_L001_R1_001.fastq.gz',    'L2NT1_S1_L001_R2_001.fastq.gz'
2_L1L2A-N:    'T2', 'L1L2A-N1-tile2_R1_001.fastq.gz', 'L1L2A-N1-tile2_R2_001.fastq.gz'
2_L1L2A-N-Control: 'T2', '?_R1_001.fastq.gz', '?_R2_001.fastq.gz'
2_Ref:     'T2', 'L1NT2_S8_L001_R1_001.fastq.gz',    'L1NT2_S8_L001_R2_001.fastq.gz'

[Experiments]
1_L1L2A-N: '1_Ref', '1_L1L2A-N'
2_L1L2A-N: '2_Ref', '2_L1L2A-N'
1_L1L2A-N-Control: '1_Ref', '1_L1L2A-N-Control'
2_L1L2A-N-Control: '2_Ref', '2_L1L2A-N-Control'

[Proteins]
L1L2A-N_control: '1_L1L2A-N-Control', '2_L1L2A-N-Control'
L1L2A-N: '1_L1L2A-N', '2_L1L2A-N'

[Analysis]
control_filepath: './Output/L1L2A-N_control_counts.csv'
antibody_filepath: './Output/L1L2A-N_counts.csv'
output_title: 'L1L2A-N'
FDR: 1
significance: 0.5
