[Parameters]
max_mismatches: 10
min_quality: 10
fastq_file_dir: 'file_path'

[Tile:T1]
wt_seq: 'TGGAGGAGGCTCTGGTGGAGGCGGTAGCGGAGGCGGAGGGTCGACAAACTTGTGCCCTTTTGGTGAAGTTTTTCAAGCCACCAGATTTGCATCTGTTTATGCTTGGAACAGGAAGAGAATCAGCAACTGTGTTGCTGATTATTCTGTCCTATATAATTCCGCATCATTTTCCACTTTTAAGTGTTATGGAGTGTCTCCTACTAAATTAAATGATCTCTGCTTTACTAATGTCTATGCAGATTCATTTGTAATTAGAGGTGATGAAGTCAGACAAATCGCTCCAGGGCAAACTGGAAAGATTGCTGATTATAATTATAAATTACCAGATGATTTTACAGGCTGCGTTATAGCTTGG'
first_aa: 333
cds_start: 43
cds_end: 355
positions: 333, 334, 335, 339, 340, 344, 345, 346, 349, 351, 352, 354, 356, 357, 358, 359, 360, 362, 363, 364, 366, 367, 370, 372, 373, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 388, 389, 390, 394, 396, 405, 408, 411, 412, 413, 414, 415, 417, 420, 421, 424, 426, 427, 428, 430

[Tile:T2]
wt_seq: 'GGCTGCGTTATAGCTTGGAATTCTAACAATCTTGATTCTAAGGTTGGTGGTAATTATAATTACCTGTATAGATTGTTTAGGAAGTCTAATCTCAAACCTTTTGAGAGAGATATTTCAACTGAAATCTATCAGGCCGGTAGCACACCTTGTAATGGTGTTGAAGGTTTTAATTGTTACTTTCCTTTACAATCATATGGTTTCCAACCCACTAATGGTGTTGGTTACCAACCATACAGAGTAGTAGTACTTTCTTTTGAACTTCTACATGCACCAGCAACTGTTTGTGGACCTAAAAAGTCTACTAATTTGGTTAAAAACAAAGGGGGC'
first_aa: 437
cds_start: 18
cds_end: 321
positions: 437, 439, 440, 441, 444, 445, 446, 447, 448, 449, 450, 452, 455, 456, 457, 458, 459, 460, 462, 463, 464, 465, 466, 468, 469, 470, 471, 473, 474, 475, 477, 478, 479, 481, 482, 483, 484, 485, 486, 487, 489, 490, 492, 493, 494, 498, 499, 500, 501, 503, 504, 505, 506, 508, 516, 517, 518, 519, 520, 521, 522, 523, 527

[Samples]
1_12-1:    'T1', '12-1_T1_R1.fastq.gz', '12-1_T1_R2.fastq.gz'
1_Control: 'T1', 'Control_T1_R1.fastq.gz',    'Control_T1_R2.fastq.gz'
1_Ref:     'T1', 'Reference_T1_R1.fastq.gz',    'Reference_T1_R2.fastq.gz'
2_12-1:    'T2', '12-1_T2_R1.fastq.gz', '12-1_T2_R2.fastq.gz'
2_Control: 'T2', 'Control_T2_R1.fastq.gz',    'Control_T2_R2.fastq.gz'
2_Ref:     'T2', 'Reference_T2_R1.fastq.gz',    'Reference_T2_R2.fastq.gz'

[Experiments]
1_12-1: '1_Ref', '1_12-1'
2_12-1: '2_Ref', '2_12-1'
1_Control: '1_Ref', '1_Control'
2_Control: '2_Ref', '2_Control'

[Proteins]
example_control: '1_Control', '2_Control'
example_12-1: '1_12-1', '2_12-1'

[Analysis]
control_filepath: '/Users/lab/Documents/rbd/Output/example_control.csv'
antibody_filepath: '/Users/lab/Documents/rbd/Output/example_CC12-1.csv'
output_title: '12-1'
FDR: 1
significance: 0.01
